body, #sb-site{
	/*background-color: #C4C4C4;*/
	/*background-color: #eeeeee;*/
	background-color: #0E426C;
}

.blue_text{
	/*color: #0E426C;*/
	color: white;
	font-family: "Oswald", sans-serif;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background-color: #5F021F;
}

#text_box{
	width: 50%;
	height: 400px;
	margin-top: 20px;
}

.story{
	color:white;

}

.file_input{
	margin-top: 30px;
}

#back_button{
	color: white;
}





/* Slidebars */

.profile-nav{
	padding: 14px 14px 14px 14px;
}

.profile-nav p{
	padding: 0;
	margin: 0;
}

.sb-toggle-left, .sb-toggle-right, .sb-open-left, .sb-open-right, .sb-close {
	cursor: pointer;
}


.sb-slidebar {
	background-color: #222222;
}

/* ---------------
 * 003 - Slidebars
 */

.sb-slidebar {
	background-color: #222222; /* Background colour. */
	color: #e8e8e8; /* Text colour. */
}

.sb-slidebar a {
	color: #e8e8e8;
	text-decoration: none;
}

.sb-slidebar a:hover {
	color: #337ab7; /* Link hover colour. */
	text-decoration: none;
}

/* Main Menu */
.sb-menu { /* Apply to <ul> or <ol>. */
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.sb-menu li {
	width: 100%;
	padding: 0;
	margin: 0;
	border-top: 1px solid rgba(255, 255, 255, 0.1); /* Will lighten any background colour you set. */
	border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Will darken any background colour you set. */
}

.sb-menu > li:first-child {
	border-top: none; /* Removes top border from first list item.. */
}

.sb-menu > li:last-child {
	border-bottom: none; /* Removed bottom border from last list item. */
}

.sb-menu li a {
	width: 100%; /* Makes links full width. */
	display: inline-block;
	padding: 1em; /* Creates an even padding the same size as your font. */
	color: #f2f2f2;
}

.sb-menu li a:hover {
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.05); /* Will lighten any background colour you set. */
}

.sb-menu li p{
	margin:0;
	padding:0;
}
.sb-menu li h2{
	margin:0;
	padding:0;	
}

/* Borders */
.sb-left .sb-menu li a {
	border-left: 3px solid transparent;
}

.sb-left .sb-menu li a:hover {
	border-left: 3px solid; /* Removes transparent colour, so border colour will be the same as link hover colour. */
}

.sb-right .sb-menu li a {
	border-right: 3px solid transparent;
}

.sb-right .sb-menu li a:hover {
	border-right: 3px solid; /* Removes transparent colour, so border colour will be the same as link hover colour. */
}

/* Left */


.sb-menu li .sb-open-right, .sb-menu li small {
	display: inline-block;
	padding: 14px;
}

.sb-menu li img {
	margin: 5px;
}

/* Right */
aside#about-me {
	padding: 14px 14px 14px 14px;
}

img.img-me {
	margin: 14px auto;
	border: 4px solid #fff;
}

/* Slidebar Type */

.sb-slidebar, .sb-slidebar h3 {
	color: #F0F0F0;
}

.sb-slidebar ul.sb-nav li a {
	color: #DEDEDE;
}

.sb-slidebar ul.sb-nav li a:hover {
	color: #C7C7C7;
	text-decoration: none;
}

.sb-slidebar ul.sb-nav li span:hover {
	color: #C7C7C7;
}
